
@{
    ViewBag.Title = "ForgetPass";
    Layout = "~/Views/Shared/Site.cshtml";
}
    <div class="container fp" style="margin-top: 300px;padding-bottom: 100px;">
        <div class="row">
            <form method="post" action="~/Site/ForgetPass1" id="register" class="input-group">
                <input type="email" name="UserEmail" class="input-field" placeholder="email *" required />
                <input type="text" name="UserName" class="input-field" placeholder="name *" required />
                <button type="submit" class="submit-btn">Send</button>
            </form>
        </div>
        
    </div>




