
@{
    ViewBag.Title = "newslide";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="container">
    <form action="~/Admin/Insertnewslide" method="post" class="was-validated" enctype="multipart/form-data">
        <div class="form-group">
            <label for="uname">SlideName:</label>
            <input type="text" class="form-control" id="uname" placeholder="SlideName" name="SlideName" required>
            
        </div>
        <div class="form-group">
            <label for="pwd">SlidePhoto:</label>
            <input type="file" class="form-control" id="pwd" placeholder="Enter password" name="SlidePhoto" required formenctype="multipart/form-data">
            
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

