
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="container">
    <h2>Team Information </h2>
    <table class="table table-bordered table-hover bg-warning" style="cursor: pointer;">
        <thead>
            <tr class="text-center" style="text-align:center !important;">
                <th class="text-center">teamid</th>
                <th class="text-center">teamname</th>
                <th class="text-center">teamvezife</th>
                <th class="text-center">teamphoto</th>
                <th class="text-center" colspan="2"><a href="~/Admin/newteam">+</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Team)
            {
            <tr class="text-center" style="text-align:center;">
                <td>@item.TeamId</td>
                <td>@item.TeamName</td>
                <td>@item.TeamVezife</td>
                <td>@item.TeamPhoto</td>
                <td><a href="~/Admin/DeleteTeam/@item.TeamId">del</a></td>
                <td><a href="~/Admin/editteam/@item.TeamId">edit</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>

